# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# PyInstaller build outputs
build/
dist/

# Test datasets
files_for_conversion/

# Image file creation
/src/attributes/conversion_image/